@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#1FAAF2,#1E77A6);
    
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: #114663be 5px 5px 15px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A61622;
    text-align: center;
    text-shadow: #7e1019a8 1px 1px 2px ;

}

h2 {
    color: #F23847;


}

p {
    text-align: justify;
}